.wrapper {
  width: 100vw;
  height: 100vh;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.palette {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: -2.4rem;
  bottom: 0;
  margin: auto;
}
.palette .palette_item_wrapper {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.palette .palette_item_wrapper div span{ 
  display: block; 
  position: absolute;
  width: .85rem;
  height: .85rem;
  left: 0;
  top: 0; 
}
.palette .palette_item_wrapper div.palette_color.active{
   background-color: #1d8980!important; 
}
.palette.palette__opened .palette_item_wrapper {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.palette.palette__opened .palette_color {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.palette.palette__opened .palette_color:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.palette.palette__opened .palette_color:nth-child(2) {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
.palette .palette_item_wrapper div:nth-child(2) span{
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}
.palette.palette__opened .palette_color:nth-child(3) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.palette .palette_item_wrapper div:nth-child(3) span{
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}
.palette.palette__opened .palette_color:nth-child(4) {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.palette .palette_item_wrapper div:nth-child(4) span{
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}
.palette.palette__opened .palette_color:nth-child(5) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
.palette .palette_item_wrapper div:nth-child(5) span{
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}
.palette.palette__opened .palette_color:nth-child(6) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.palette .palette_item_wrapper div:nth-child(6) span{
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.palette.palette__opened .palette_color:nth-child(7) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.palette .palette_item_wrapper div:nth-child(7) span{
  -webkit-transform: rotate(-216deg);
          transform: rotate(-216deg);
}
.palette.palette__opened .palette_color:nth-child(8) {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}
.palette .palette_item_wrapper div:nth-child(8) span{
  -webkit-transform: rotate(-252deg);
          transform: rotate(-252deg);
}
.palette.palette__opened .palette_color:nth-child(9) {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}
.palette .palette_item_wrapper div:nth-child(9) span{
  -webkit-transform: rotate(-288deg);
          transform: rotate(-288deg);
}
.palette.palette__opened .palette_color:nth-child(10) {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.palette .palette_item_wrapper div:nth-child(10) span{
  -webkit-transform: rotate(-324deg);
          transform: rotate(-324deg);
}
.palette .palette_color, .palette .palette_color__main {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  border-style: solid;
  border-color: #ffffff;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.palette .palette_color__main {
  background-color: #e16969;
  width: 2rem;
  height: 2rem;
  -webkit-transition: background .3s;
  transition: background .3s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.palette .palette_color__main img{
  width: 2rem;
  height: 2rem;
}
.palette .palette_color {
  width: .85rem;
  height: .85rem;
  text-align: center;
  line-height: .85rem;
  color: #fff;
  display: block;
  -webkit-transform-origin: 250% 50%;
          transform-origin: 250% 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-width: 3px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  left: -.2rem;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: .4rem;
}
#stars {
  margin: 0 auto;
  max-width: 16000px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.star {
  display: block;
  width: 1px;
  background: transparent;
  position: relative;
  opacity: 0;
  /*过渡动画*/
  
  animation: star-fall 3s linear infinite;
  -webkit-animation: star-fall 3s linear infinite;
  -moz-animation: star-fall 3s linear infinite;
}
.star:after {
  content: '';
  display: block;
  border: 0px solid #fff;
  border-width: 0px 90px 2px 90px;
  border-color: transparent transparent transparent rgba(255, 255, 255, .5);
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
  /*变形*/
  
  transform: rotate(-135deg) translate3d(1px, 3px, 0);
  -webkit-transform: rotate(-135deg) translate3d(1px, 3px, 0);
  -moz-transform: rotate(-135deg) translate3d(1px, 3px, 0);
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
}
@keyframes star-fall {
  0% {
      opacity: 0;
      transform: scale(0.5) translate3d(0, 0, 0);
      -webkit-transform: scale(0.5) translate3d(0, 0, 0);
      -moz-transform: scale(0.5) translate3d(0, 0, 0);
  }
  50% {
      opacity: 1;
      transform: translate3d(200px, 200px, 0);
      -webkit-transform: translate3d(200px, 200px, 0);
      -moz-transform: translate3d(200px, 200px, 0);
  }
  100% {
      opacity: 0;
      transform: scale(1.2) translate3d(300px, 300px, 0);
      -webkit-transform: scale(1.2) translate3d(300px, 300px, 0);
      -moz-transform: scale(1.2) translate3d(300px, 300px, 0);
  }
}
.snow-container {
  position: fixed;
  height: 800px;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}